.about {
  min-height: 500px;
}

.about h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.about-desc {
  text-align: center;
  line-height: 28px;
  max-width: 1200px;
  margin: auto;
  font-size: 1.2em;
}

/* Choose Us Container */

.reason-title {
  text-align: center;
  font-size: 2rem;
  margin-block: 2.5rem;
}

.reason-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.reason-item {
  /* border: 1px solid #000; */
  border-radius: 10px;
  /* aspect-ratio: 1 / 1; */
  padding: 1rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  background-color: #d9cfc7;
}

.reason-item i {
  font-size: 70px;
  display: block;
  text-align: center;  
}

.reason-item .title {
  margin-bottom: 1rem;
  text-align: center;
}

.about-icon {
  display: block;
}