<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/controllers.css">

  </head>
  <body>
    <section class="controllers" id="controllers">
      <div class="product-container container">
        <h2 class="title">Game Controllers</h2>

        <!-- Product 1 -->
        <div class="product">

          <div class="img-container">
            <img src="/assets/img/controller1.png" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">PS4 V2 Dualshock 4</h3>

            <p class="product-description">
              Wireless Controllers for PlayStation 4
            </p>

            <p class="info">Compatible/Generic</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹3999/- 
              <span class="old-price">₹5499/-</span>
            </p>
        
          </div>

        </div>

        <!-- Product 2 -->
        <div class="product">
          <div class="img-container">
            <img src="/assets/img/newcontroller3.png" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">Xbox Wireless Controller</h3>

            <p class="product-description">
             Controllers for Xbox One and Series X
            </p>

            <p class="info">(Official)</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹3499/- 
              <span class="old-price">₹4500/-</span>
            </p>
        
          </div>

        </div>

        <!-- Product 3 -->
        <div class="product">

          <div class="img-cintainer">
            <img src="/assets/img/controller2.png" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">Nintendo Switch Pro Controller</h3>

            <p class="product-description">
              Wireless Controllers for Nintendo Switch
            </p>

            <p class="info">(Official)</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹4999/- 
              <span class="old-price">₹6000/-</span>
            </p>
        
          </div>

        </div>

        <!-- Product 4 -->
        <h2 class="title" id="vrsection">VR Accessories</h2>

        <div class="product">


          <div class="img-container">
            <img src="/assets/img/metaquest.jpg" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">Meta Quest Pro</h3>

            <p class="product-description">
              VR Headset from Meta
            </p>

            <p class="info">(Official)</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹35200/- 
              <span class="old-price">₹40000/-</span>
            </p>
        
          </div>

        </div>

        <!-- Product 5 -->
        <div class="product">

          <div class="img-container">
            <img src="/assets/img/visionpro.png" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">Apple Vision Pro</h3>

            <p class="product-description">
              VR Headset from Apple
            </p>

            <p class="info">(Official)</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹264599/- 
              <span class="old-price">₹293999/-</span>
            </p>
        
          </div>

        </div>

        <!-- Product 6 -->
        <div class="product">

          <div class="img-container">
            <img src="/assets/img/mouse.png" alt="" class="image" />
          </div>

          <div>
            <h3 class="product-name">Logitech G502 Hero</h3>

            <p class="product-description">
              High Performance Gaming Mouse
            </p>

            <p class="info">(Wired)</p>

            <div class="rating">
              <span>★★★★☆</span>
            </div>

            <p class="price">₹2999/- 
              <span class="old-price">₹4000/-</span>
            </p>
        
          </div>

        </div>
      </div>
    </section>
  </body>
</html>
