<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title>Navbar</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/css/navbar.css">
  
</head>
<body>

  <div class="navbar">
    <div class="container">

      <div class="logo-outer">
        <img src="/assets/img/logo.png" alt="Site Logo">
        <h3>Gaming Center</h3>
      </div>

      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="#controllers">Game Controllers</a></li>
        <li><a href="#vrsection">VR Accessories</a></li>
        <li>Gaming Keyboard</li>
        <li>Others</li>
        <a class="login">Login</a>

        <!-- Dark Mode -->
        <label class="switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider" title="Dark Mode"></span>
        </label>

        <!-- Cart -->
        <a href="#" class="cart">
          <img src="/assets/img/cart.png" alt="Cart Icon">
          <!-- <span>Cart</span> -->
           <span class="badge">0</span>
        </a>
      </ul>

    </div>
  </div>
  
</body>
</html>