<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Swiper JS cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/css/reviews.css">

</head>
<body>

  <section>
  <div class="container">

    <h2 class="title">Testimonials</h2>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <div class="img-container">
            <img src="/assets/img/boy1.png">
          </div>
          <div class="content">
            <h3>John Doe <span class="role">Front End Developer</span></h3>
            <span class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt animi placeat quisquam alias eligendi?</p>
          </div>
        </div>
 
        <div class="swiper-slide">
          <div class="img-container">
            <img src="/assets/img/girl1.png">
          </div>
          <div class="content">
            <h3>Rita Joseph <span class="role">Backend Developer</span></h3>
            <span class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt animi placeat quisquam alias eligendi?</p>
          </div>
        </div>
 
        <div class="swiper-slide">
          <div class="img-container">
            <img src="/assets/img/boy2.png">
          </div>
          <div class="content">
            <h3>Brother Desoza <span class="role">Fullstack Developer</span></h3>
            <span class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt animi placeat quisquam alias eligendi?</p>
          </div>
        </div>
 
        <div class="swiper-slide">
          <div class="img-container">
            <img src="/assets/img/girl2.png">
          </div>
          <div class="content">
            <h3>Senorita <span class="role">Web Designer</span></h3>
            <span class="rating">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt animi placeat quisquam alias eligendi?</p>
          </div>
        </div>
 
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>

<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="/assets/js/main.js"></script>
  
</body>
</html>