.banner {
  min-height: 100vh;
  background-image: url("/assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.banner .container {
  width: 1400px;
  margin: auto;
}

.banner .title {
  font-size: 62px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.banner .desc {
  font-size: 20px;
  color: #fff;
}

.banner .search-bar {
  width: 60%;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 12px 10px;
  border-radius: 12px;
  background-color: #fff;
  margin-top: 2rem;
  overflow: hidden;
}

.banner .search-bar input {
  width: 100%;
  border: none; outline: none;
  background: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 1rem;
}

.banner .search-bar button {
  height: 100%;
  width: 30px;
  background: none;
  border: none; outline: none;
  cursor: pointer;
  font-size: 1.05em;
}

