#controllers {
  transition: all 0.3s ease;
}

.controllers {
  padding: 80px 0;
}

.controllers .title {
  margin-bottom: 1.5rem;
}

.product {
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.product .img-container {
  min-height: 500px;
  display: flex;align-items: center;
}

.product .image {
  max-width: 520px;
}

.product-name {
  font-size: 32px;
}

.product-description {
  font-size: 18px;
}

.product .info {
  font-size: 14px;
}

/* Rating */
.rating span {
  color: #ec7c1d;
  font-size: 26px;
}


/* Price */
.price {
  font-size: 28px;
  color: green;
}

.price .old-price {
  color: #1b1b1b;
  font-size: 16px;
  text-decoration: line-through;
}